.sidebar-links {
    color: #FF5A00;

}

.sidebar-links:hover {
    background-color: #FF5A00;

    color: white;
    border-radius: 12px;
}

.sidebar-sub-links{
    color: black;
}

.sidebar-sub-links:hover{
    background-color: #FF5A00;

    border-radius: 12px;
    
}

.sidebar-sub-links:hover span{

    font-weight: bold;
    color: white;

}

.submenu-design{
    border-left:1px solid #FF5A00;


}
body {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
}

